/* Colors */
back-ground-color: #C9CACA;
cal-baground-color: #292C2F;
display-screen-color:  ;
number-button-color: #D3D3D1;
sign-button-color: #fe9603;

/* all needed icons */
<i class="fa-solid fa-minus"></i>
<i class="fa-solid fa-plus"></i>
<i class="fa-solid fa-xmark"></i>
<i class="fa-solid fa-divide"></i>
<i class="fa-solid fa-equals"></i>

/* all numbers sign */
<i class="fa-solid fa-1"></i>